{% extends "layout.html" %}
{% block content %}
<h1>Recent Posts</h1>
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <h2><a class="article-title">{{ post.title }}</a></h2>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small><hr>
            <p class="article-content">{{ post.content }}</p>
            
            <div class="article-metadata">
              <a class="mr-2"> Written by {{ post.author.username }}</a>
            </div>
            <button style="border: none;outline: none;padding: 5px 10px;background-color: #455261;border-radius: 5px;cursor: pointer;"> <a href ="{{url_for ('post',post_id = post.id)}}"style="color: black;text-decoration: none;">View More</a></button>
          </div>
          

{% if quotes %}
<blockquote>
  <cite>
   <span> {{quotes.quote}} </span><br><br>
   &nbsp;__<span>{{quotes.author}}</span>
  </cite>
</blockquote>
{% endif%}
        </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    
{% endblock content %}
